<a href="https://colab.research.google.com/github/RafsanJany-44/Machine-School/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [27]:
dataset=pd.read_csv("https://raw.githubusercontent.com/RafsanJany-44/Machine-School/main/datasets/Machine_readable_file_mei_march_2022.csv")

In [28]:
dataset.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,MEIM.S1WA,1999.04,80267.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN
1,MEIM.S1WA,1999.05,70803.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN
2,MEIM.S1WA,1999.06,65792.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN
3,MEIM.S1WA,1999.07,66194.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN
4,MEIM.S1WA,1999.08,67259.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN

In [4]:
dataset.shape

(18326, 14)

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18326 entries, 0 to 18325
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  18326 non-null  object
 1   Period            18326 non-null  float64
 2   Data_value        18070 non-null  float64
 3   Suppressed        256 non-null    object
 4   STATUS            18326 non-null  object
 5   UNITS             18326 non-null  object
 6   Magnitude         18326 non-null  int64
 7   Subject           18326 non-null  object
 8   Group             18326 non-null  object
 9   Series_title_1    18326 non-null  object
 10  Series_title_2    18326 non-null  object
 11  Series_title_3    18326 non-null  object
 12  Series_title_4    8505 non-null   object
 13  Series_title_5    0 non-null      float64
dtypes: float64(3), int64(1), object(10)
memory usage: 2.0+ MB

#Data separating for target value

we can use both indexing and <i>.iloc</i> funtion to get access into data. But before feedin the data to the model we have to use <i>.values.</i> We can use .iloc when the colunms are too many. And we can use indexing when the target colunm is in the middle.

In [6]:
var=dataset[["Series_reference","Period","Data_value"]] # call like list elements with column name

In [7]:
var2=var.values #.values remove the col name and make an numpy array
var2 #gives array

array([['MEIM.S1WA', 1999.04, 80267.0],
       ['MEIM.S1WA', 1999.05, 70803.0],
       ['MEIM.S1WA', 1999.06, 65792.0],
       ...,
       ['MEIQ.S2ZT', 2021.09, nan],
       ['MEIQ.S2ZT', 2021.12, nan],
       ['MEIQ.S2ZT', 2022.03, nan]], dtype=object)

In [8]:
var_type2= list(dataset.iloc[:0,:])
var_type2

['Series_reference',
 'Period',
 'Data_value',
 'Suppressed',
 'STATUS',
 'UNITS',
 'Magnitude',
 'Subject',
 'Group',
 'Series_title_1',
 'Series_title_2',
 'Series_title_3',
 'Series_title_4',
 'Series_title_5']

but the problem occures when there are many colunms and the target colunm is in the middle then what to do?

So we will use a generalize function to select the y and x axis

In [9]:

def sep_XY(dataset,target):
  x_col_name= list(dataset.iloc[:0,:])
  x_col_name.remove(target)
  return (dataset[x_col_name].values),(dataset[target].values)

In [10]:
X,y=sep_XY(dataset,"STATUS")
print(X)
print(y)

[['MEIM.S1WA' 1999.04 80267.0 ... 'Actual' nan nan]
 ['MEIM.S1WA' 1999.05 70803.0 ... 'Actual' nan nan]
 ['MEIM.S1WA' 1999.06 65792.0 ... 'Actual' nan nan]
 ...
 ['MEIQ.S2ZT' 2021.09 nan ... 'Trend' nan nan]
 ['MEIQ.S2ZT' 2021.12 nan ... 'Trend' nan nan]
 ['MEIQ.S2ZT' 2022.03 nan ... 'Trend' nan nan]]
['F' 'F' 'F' ... 'C' 'C' 'C']

<font color="green">Testing with logistic reg</font>

#data encoding<br>
there could be data in string. so sometime we have to convert that to float

In [40]:
k=list(dataset["Series_reference"].unique())
print(k)
if type(k[0])==str:
  print("yes")
print(type(k[0]))

['MEIM.S1WA', 'MEIM.S1WS', 'MEIM.S1WT', 'MEIM.S1XA', 'MEIM.S1XS', 'MEIM.S1XT', 'MEIM.S1YA', 'MEIM.S1YS', 'MEIM.S1YT', 'MEIM.S1ZA', 'MEIM.S1ZS', 'MEIM.S1ZT', 'MEIM.S2WA', 'MEIM.S2WS', 'MEIM.S2WT', 'MEIM.S2XA', 'MEIM.S2XS', 'MEIM.S2XT', 'MEIM.S2YA', 'MEIM.S2YS', 'MEIM.S2YT', 'MEIM.S2ZA', 'MEIM.S2ZS', 'MEIM.S2ZT', 'MEIM.S4WA', 'MEIM.S4XA', 'MEIM.S4YA', 'MEIM.S4ZA', 'MEIM.SA1AA', 'MEIM.SA1BA', 'MEIM.SA1CA', 'MEIM.SA1DA', 'MEIM.SA1EA', 'MEIM.SA1FA', 'MEIM.SA1GA', 'MEIM.SA1HA', 'MEIM.SA1IA', 'MEIM.SA1JA', 'MEIM.SA1KA', 'MEIM.SA1LA', 'MEIM.SA1MA', 'MEIM.SA1NA', 'MEIM.SA1OA', 'MEIM.SA1PA', 'MEIM.SA1QA', 'MEIM.SA1RA', 'MEIM.SA1SA', 'MEIM.SB1RAA', 'MEIM.SB1RBA', 'MEIM.SB1RCA', 'MEIM.SB1RDA', 'MEIM.SB1REA', 'MEIM.SB1RFA', 'MEIM.SB1RGA', 'MEIM.SB1RHA', 'MEIM.SB1RIA', 'MEIM.SB1RJA', 'MEIM.SB1RKA', 'MEIM.SB1RLA', 'MEIM.SB1RMA', 'MEIM.SB1RNA', 'MEIM.SB1ROA', 'MEIM.SB1RPA', 'MEIM.SC1AARAA', 'MEIM.SC1AARBA', 'MEIM.SC1AARCA', 'MEIM.SC1AARDA', 'MEIM.SC1AAREA', 'MEIM.SC1AARFA', 'MEIM.SC1AARGA', 'MEIM.SC1AARHA', 'MEIM.SC1AARIA', 'MEIM.SC1AARJA', 'MEIM.SC1AARKA', 'MEIM.SC1AARLA', 'MEIM.SC1AARMA', 'MEIM.SC1AARNA', 'MEIM.SC1AAROA', 'MEIM.SC1AARPA', 'MEIM.SC1AARZA', 'MEIM.SC1ABRAA', 'MEIM.SC1ABRBA', 'MEIM.SC1ABRCA', 'MEIM.SC1ABRDA', 'MEIM.SC1ABREA', 'MEIM.SC1ABRFA', 'MEIM.SC1ABRGA', 'MEIM.SC1ABRHA', 'MEIM.SC1ABRIA', 'MEIM.SC1ABRJA', 'MEIM.SC1ABRKA', 'MEIM.SC1ABRLA', 'MEIM.SC1ABRMA', 'MEIM.SC1ABRNA', 'MEIM.SC1ABROA', 'MEIM.SC1ABRPA', 'MEIM.SC1ABRZA', 'MEIM.SC1ACRAA', 'MEIM.SC1ACRBA', 'MEIM.SC1ACRCA', 'MEIM.SC1ACRDA', 'MEIM.SC1ACREA', 'MEIM.SC1ACRFA', 'MEIM.SC1ACRGA', 'MEIM.SC1ACRHA', 'MEIM.SC1ACRIA', 'MEIM.SC1ACRJA', 'MEIM.SC1ACRKA', 'MEIM.SC1ACRLA', 'MEIM.SC1ACRMA', 'MEIM.SC1ACRNA', 'MEIM.SC1ACROA', 'MEIM.SC1ACRPA', 'MEIM.SC1ACRZA', 'MEIM.SC1ADRAA', 'MEIM.SC1ADRBA', 'MEIM.SC1ADRCA', 'MEIM.SC1ADRDA', 'MEIM.SC1ADREA', 'MEIM.SC1ADRFA', 'MEIM.SC1ADRGA', 'MEIM.SC1ADRHA', 'MEIM.SC1ADRIA', 'MEIM.SC1ADRJA', 'MEIM.SC1ADRKA', 'MEIM.SC1ADRLA', 'MEIM.SC1ADRMA', 'MEIM.SC1ADRNA', 'MEIM.SC1ADROA', 'MEIM.SC1ADRPA', 'MEIM.SC1ADRZA', 'MEIM.SC1AERAA', 'MEIM.SC1AERBA', 'MEIM.SC1AERCA', 'MEIM.SC1AERDA', 'MEIM.SC1AEREA', 'MEIM.SC1AERFA', 'MEIM.SC1AERGA', 'MEIM.SC1AERHA', 'MEIM.SC1AERIA', 'MEIM.SC1AERJA', 'MEIM.SC1AERKA', 'MEIM.SC1AERLA', 'MEIM.SC1AERMA', 'MEIM.SC1AERNA', 'MEIM.SC1AEROA', 'MEIM.SC1AERPA', 'MEIM.SC1AERZA', 'MEIM.SC1AFRAA', 'MEIM.SC1AFRBA', 'MEIM.SC1AFRCA', 'MEIM.SC1AFRDA', 'MEIM.SC1AFREA', 'MEIM.SC1AFRFA', 'MEIM.SC1AFRGA', 'MEIM.SC1AFRHA', 'MEIM.SC1AFRIA', 'MEIM.SC1AFRJA', 'MEIM.SC1AFRKA', 'MEIM.SC1AFRLA', 'MEIM.SC1AFRMA', 'MEIM.SC1AFRNA', 'MEIM.SC1AFROA', 'MEIM.SC1AFRPA', 'MEIM.SC1AFRZA', 'MEIM.SC1AGRAA', 'MEIM.SC1AGRBA', 'MEIM.SC1AGRCA', 'MEIM.SC1AGRDA', 'MEIM.SC1AGREA', 'MEIM.SC1AGRFA', 'MEIM.SC1AGRGA', 'MEIM.SC1AGRHA', 'MEIM.SC1AGRIA', 'MEIM.SC1AGRJA', 'MEIM.SC1AGRKA', 'MEIM.SC1AGRLA', 'MEIM.SC1AGRMA', 'MEIM.SC1AGRNA', 'MEIM.SC1AGROA', 'MEIM.SC1AGRPA', 'MEIM.SC1AGRZA', 'MEIM.SC1AHRAA', 'MEIM.SC1AHRBA', 'MEIM.SC1AHRCA', 'MEIM.SC1AHRDA', 'MEIM.SC1AHREA', 'MEIM.SC1AHRFA', 'MEIM.SC1AHRGA', 'MEIM.SC1AHRHA', 'MEIM.SC1AHRIA', 'MEIM.SC1AHRJA', 'MEIM.SC1AHRKA', 'MEIM.SC1AHRLA', 'MEIM.SC1AHRMA', 'MEIM.SC1AHRNA', 'MEIM.SC1AHROA', 'MEIM.SC1AHRPA', 'MEIM.SC1AHRZA', 'MEIM.SC1AIRAA', 'MEIM.SC1AIRBA', 'MEIM.SC1AIRCA', 'MEIM.SC1AIRDA', 'MEIM.SC1AIREA', 'MEIM.SC1AIRFA', 'MEIM.SC1AIRGA', 'MEIM.SC1AIRHA', 'MEIM.SC1AIRIA', 'MEIM.SC1AIRJA', 'MEIM.SC1AIRKA', 'MEIM.SC1AIRLA', 'MEIM.SC1AIRMA', 'MEIM.SC1AIRNA', 'MEIM.SC1AIROA', 'MEIM.SC1AIRPA', 'MEIM.SC1AIRZA', 'MEIM.SC1AJRAA', 'MEIM.SC1AJRBA', 'MEIM.SC1AJRCA', 'MEIM.SC1AJRDA', 'MEIM.SC1AJREA', 'MEIM.SC1AJRFA', 'MEIM.SC1AJRGA', 'MEIM.SC1AJRHA', 'MEIM.SC1AJRIA', 'MEIM.SC1AJRJA', 'MEIM.SC1AJRKA', 'MEIM.SC1AJRLA', 'MEIM.SC1AJRMA', 'MEIM.SC1AJRNA', 'MEIM.SC1AJROA', 'MEIM.SC1AJRPA', 'MEIM.SC1AJRZA', 'MEIM.SC1AKRAA', 'MEIM.SC1AKRBA', 'MEIM.SC1AKRCA', 'MEIM.SC1AKRDA', 'MEIM.SC1AKREA', 'MEIM.SC1AKRFA', 'MEIM.SC1AKRGA', 'MEIM.SC1AKRHA', 'MEIM.SC1AKRIA', 'MEIM.SC1AKRJA', 'MEIM.SC1AKRKA', 'MEIM.SC1AKRLA', 'MEIM.SC1AKRMA', 'MEIM.SC1AKRNA', 'MEIM.SC1AKROA', 'MEIM.SC1AKRPA', 'MEIM.SC1AKRZA', 'MEIM.SD1X1RAA', 'MEIM.SD1X1RBA', 'MEIM.SD1X1RCA', 'MEIM.SD1X1RDA', 'MEIM.SD1X1REA', 'MEIM.SD1X1RFA', 'MEIM.SD1X1RGA', 'MEIM.SD1X1RHA', 'MEIM.SD1X1RIA', 'MEIM.SD1X1RJA', 'MEIM.SD1X1RKA', 'MEIM.SD1X1RLA', 'MEIM.SD1X1RMA', 'MEIM.SD1X1RNA', 'MEIM.SD1X1ROA', 'MEIM.SD1X1RPA', 'MEIM.SD1X1RZA', 'MEIM.SD1X2RAA', 'MEIM.SD1X2RBA', 'MEIM.SD1X2RCA', 'MEIM.SD1X2RDA', 'MEIM.SD1X2REA', 'MEIM.SD1X2RFA', 'MEIM.SD1X2RGA', 'MEIM.SD1X2RHA', 'MEIM.SD1X2RIA', 'MEIM.SD1X2RJA', 'MEIM.SD1X2RKA', 'MEIM.SD1X2RLA', 'MEIM.SD1X2RMA', 'MEIM.SD1X2RNA', 'MEIM.SD1X2ROA', 'MEIM.SD1X2RPA', 'MEIM.SD1X2RZA', 'MEIM.SE1X1AAA', 'MEIM.SE1X1ABA', 'MEIM.SE1X1ACA', 'MEIM.SE1X1ADA', 'MEIM.SE1X1AEA', 'MEIM.SE1X1AFA', 'MEIM.SE1X1AGA', 'MEIM.SE1X1AHA', 'MEIM.SE1X1AIA', 'MEIM.SE1X1AJA', 'MEIM.SE1X1AKA', 'MEIM.SE1X2AAA', 'MEIM.SE1X2ABA', 'MEIM.SE1X2ACA', 'MEIM.SE1X2ADA', 'MEIM.SE1X2AEA', 'MEIM.SE1X2AFA', 'MEIM.SE1X2AGA', 'MEIM.SE1X2AHA', 'MEIM.SE1X2AIA', 'MEIM.SE1X2AJA', 'MEIM.SE1X2AKA', 'MEIQ.S2WA', 'MEIQ.S2WA1', 'MEIQ.S2WA2', 'MEIQ.S2WS', 'MEIQ.S2WT', 'MEIQ.S2XA', 'MEIQ.S2XA1', 'MEIQ.S2XA2', 'MEIQ.S2XS', 'MEIQ.S2XT', 'MEIQ.S2YA', 'MEIQ.S2YA1', 'MEIQ.S2YA2', 'MEIQ.S2YS', 'MEIQ.S2YT', 'MEIQ.S2ZA', 'MEIQ.S2ZA1', 'MEIQ.S2ZA2', 'MEIQ.S2ZS', 'MEIQ.S2ZT']
yes
<class 'str'>

In [37]:
dataset["Series_reference"].value_counts()

MEIM.S1WA        276
MEIM.S2WS        276
MEIM.S2ZT        276
MEIM.S2ZS        276
MEIM.S2ZA        276
                ...
MEIM.SC1AERBA     35
MEIM.SC1AERAA     35
MEIM.SC1ADRZA     35
MEIM.SC1ADRPA     35
MEIM.SC1AFRPA     35
Name: Series_reference, Length: 326, dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder

In [24]:
encoder=LabelEncoder()
dataset["Series_reference"]=encoder.fit_transform(dataset["Series_reference"])

In [25]:
dataset.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,0,1999.04,80267.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN
1,0,1999.05,70803.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN
2,0,1999.06,65792.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN
3,0,1999.07,66194.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN
4,0,1999.08,67259.0,NaN,F,Number,0,Employment indicators - MEI,High level industry by variable,Filled jobs,Primary industries,Actual,NaN,NaN

make all the string contained colunm encoded

In [47]:
def encode_engine(dataset):
  from sklearn.preprocessing import LabelEncoder
  encoder=LabelEncoder()
  col= list(dataset.iloc[:0,:])

  for i in col:
    if type(list(dataset[i].unique())[0])==str:
            dataset[i]=encoder.fit_transform(dataset[i])
  
  return dataset

In [48]:
new_dataset=encode_engine(dataset)

In [49]:
new_dataset.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,0,1999.04,80267.0,NaN,1,0,0,0,1,2,38,11,NaN,NaN
1,0,1999.05,70803.0,NaN,1,0,0,0,1,2,38,11,NaN,NaN
2,0,1999.06,65792.0,NaN,1,0,0,0,1,2,38,11,NaN,NaN
3,0,1999.07,66194.0,NaN,1,0,0,0,1,2,38,11,NaN,NaN
4,0,1999.08,67259.0,NaN,1,0,0,0,1,2,38,11,NaN,NaN

#Deal with Null value

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18326 entries, 0 to 18325
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  18326 non-null  object
 1   Period            18326 non-null  float64
 2   Data_value        18070 non-null  float64
 3   Suppressed        256 non-null    object
 4   STATUS            18326 non-null  object
 5   UNITS             18326 non-null  object
 6   Magnitude         18326 non-null  int64
 7   Subject           18326 non-null  object
 8   Group             18326 non-null  object
 9   Series_title_1    18326 non-null  object
 10  Series_title_2    18326 non-null  object
 11  Series_title_3    18326 non-null  object
 12  Series_title_4    8505 non-null   object
 13  Series_title_5    0 non-null      float64
dtypes: float64(3), int64(1), object(10)
memory usage: 2.0+ MB

In [12]:
print(dataset.isnull().sum())

Series_reference        0
Period                  0
Data_value            256
Suppressed          18070
STATUS                  0
UNITS                   0
Magnitude               0
Subject                 0
Group                   0
Series_title_1          0
Series_title_2          0
Series_title_3          0
Series_title_4       9821
Series_title_5      18326
dtype: int64

<b><ul>
<li>Deleting the columns with missing data
<li>Deleting the rows with missing data
<li>Filling the missing data with a value – Imputation
<li>Imputation with an additional column
<li>Filling with a Regression Model
</ul></b>

Deleting the columns with missing data