<a href="https://colab.research.google.com/github/RafsanJany-44/Machine-School/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ALL FUNCTIONS

Separating to X and Y axis

In [1]:
def sep_XY(dataset,target):
  import numpy as np
  import pandas as pd
  x_col_name= list(dataset.iloc[:0,:])
  x_col_name.remove(target)
  return (dataset[x_col_name].values),(dataset[target].values)

All Data encoder

In [2]:
def encode_engine(dataset):
  from sklearn.preprocessing import LabelEncoder
  encoder=LabelEncoder()
  col= list(dataset.iloc[:0,:])

  for i in col:
    if type(list(dataset[i].unique())[0])==str:
            dataset[i]=encoder.fit_transform(dataset[i])
  
  return dataset

In [3]:
import numpy as np
import pandas as pd

In [4]:

#dataset=pd.read_csv("https://raw.githubusercontent.com/RafsanJany-44/Machine-School/main/datasets/Machine_readable_file_mei_march_2022.csv")

dataset=pd.read_csv("https://raw.githubusercontent.com/RafsanJany-44/Machine-School/main/datasets/REM_NREM_O2.csv")

In [5]:
dataset.head()

,Sleep_Stage,MeanP_Alpha_O2,MedianF_Alpha_O2,MeanF_Alpha_O2,Spectral Edge_Alpha_O2,PeakF_Alpha_O2,MeanP_Beta_O2,MedianF_Beta_O2,MeanF_Beta_O2,Spectral Edge_Beta_O2,...,MeanP_Delta_O2,MedianF_Delta_O2,MeanF_Delta_O2,Spectral Edge_Delta_O2,PeakF_Delta_O2,MeanP_Gamma_O2,MedianF_Gamma_O2,MeanF_Gamma_O2,Spectral Edge_Gamma_O2,PeakF_Gamma_O2
0,NREM,0.00023,10.61463,18.48195,17.98244,10.73951,0.00034,18.23220,25.84976,28.47220,...,0.00112,0.74927,6.36878,2.87220,0.62439,0.000076,32.71805,43.83220,49.95122,49.95122
1,NREM,0.00023,10.36488,18.10732,17.48293,10.24000,0.00032,18.10732,26.22439,28.72195,...,0.00070,0.99902,6.86829,3.62146,0.74927,0.000072,32.09366,44.33171,49.95122,49.95122
2,NREM,0.00025,9.74049,17.35805,16.73366,9.86537,0.00031,17.23317,26.47415,28.84683,...,0.00077,1.49854,6.49366,4.12098,0.74927,0.000069,33.09268,43.95707,49.95122,49.95122
3,NREM,0.00027,9.49073,17.60780,16.85854,8.11707,0.00033,17.73268,26.47415,28.59707,...,0.00130,1.87317,6.11902,3.74634,0.37463,0.000070,31.59415,42.83317,49.95122,49.95122
4,NREM,0.00036,9.24098,16.48390,15.98439,8.11707,0.00039,15.98439,24.47610,25.97463,...,0.00123,1.49854,6.61854,3.74634,0.74927,0.000060,29.47122,45.08098,49.95122,49.95122

In [6]:
dataset.shape

(89096, 26)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89096 entries, 0 to 89095
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sleep_Stage             89096 non-null  object
 1   MeanP_Alpha_O2          89096 non-null  float64
 2   MedianF_Alpha_O2        89096 non-null  float64
 3   MeanF_Alpha_O2          89096 non-null  float64
 4   Spectral Edge_Alpha_O2  89096 non-null  float64
 5   PeakF_Alpha_O2          89096 non-null  float64
 6   MeanP_Beta_O2           89096 non-null  float64
 7   MedianF_Beta_O2         89096 non-null  float64
 8   MeanF_Beta_O2           89096 non-null  float64
 9   Spectral Edge_Beta_O2   89096 non-null  float64
 10  PeakF_Beta_O2           89096 non-null  float64
 11  MeanP_Theta_O2          89096 non-null  float64
 12  MedianF_Theta_O2        89096 non-null  float64
 13  MeanF_Theta_O2          89096 non-null  float64
 14  Spectral Edge_Theta_O2  89096 non-null  float64
 15  PeakF_Theta_O2          89096 non-null  float64
 16  MeanP_Delta_O2          89096 non-null  float64
 17  MedianF_Delta_O2        89096 non-null  float64
 18  MeanF_Delta_O2          89096 non-null  float64
 19  Spectral Edge_Delta_O2  89096 non-null  float64
 20  PeakF_Delta_O2          89096 non-null  float64
 21  MeanP_Gamma_O2          89096 non-null  float64
 22  MedianF_Gamma_O2        89096 non-null  float64
 23  MeanF_Gamma_O2          89096 non-null  float64
 24  Spectral Edge_Gamma_O2  89096 non-null  float64
 25  PeakF_Gamma_O2          89096 non-null  float64
dtypes: float64(25), object(1)
memory usage: 17.7+ MB

#Data separating for target value

we can use both indexing and <i>.iloc</i> funtion to get access into data. But before feedin the data to the model we have to use <i>.values.</i> We can use .iloc when the colunms are too many. And we can use indexing when the target colunm is in the middle.

In [ ]:
#var=dataset[["Series_reference","Period","Data_value"]] # call like list elements with column name

In [ ]:
var2=var.values #.values remove the col name and make an numpy array
var2 #gives array

In [ ]:
var_type2= list(dataset.iloc[:0,:])
var_type2

but the problem occures when there are many colunms and the target colunm is in the middle then what to do?

So we will use a generalize function to select the y and x axis

In [ ]:

def sep_XY(dataset,target):
  x_col_name= list(dataset.iloc[:0,:])
  x_col_name.remove(target)
  return (dataset[x_col_name].values),(dataset[target].values)

In [ ]:
X,y=sep_XY(dataset,"STATUS")
print(X)
print(y)

<font color="green">Testing with logistic reg</font>

#data encoding<br>
there could be data in string. so sometime we have to convert that to float

In [ ]:
k=list(dataset["Series_reference"].unique())
print(k)
if type(k[0])==str:
  print("yes")
print(type(k[0]))

In [ ]:
dataset["Series_reference"].value_counts()

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
encoder=LabelEncoder()
dataset["Series_reference"]=encoder.fit_transform(dataset["Series_reference"])

In [ ]:
dataset.head()

make all the string contained colunm encoded

In [ ]:
def encode_engine(dataset):
  from sklearn.preprocessing import LabelEncoder
  encoder=LabelEncoder()
  col= list(dataset.iloc[:0,:])

  for i in col:
    if type(list(dataset[i].unique())[0])==str:
            dataset[i]=encoder.fit_transform(dataset[i])
  
  return dataset

In [ ]:
new_dataset=encode_engine(dataset)

In [ ]:
new_dataset.head()

#Data Spliting into training and testing

In [ ]:
X,y=sep_XY(new_dataset,"Series_reference")

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(X,y, test_size=0.2,random_state=3)

In [ ]:
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

checking

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
print(new_dataset.std())

In [ ]:
sc=StandardScaler()
sc.fit(X_train)

In [ ]:
X_train_standardized= sc.transform(X_train)
x_test_stacdardized= sc.transform(X_test)

#Deal with Null value

In [ ]:
dataset.info()

In [ ]:
print(dataset.isnull().sum())

<b><ul>
<li>Deleting the columns with missing data
<li>Deleting the rows with missing data
<li>Filling the missing data with a value – Imputation
<li>Imputation with an additional column
<li>Filling with a Regression Model
</ul></b>

Deleting the columns with missing data