<a href="https://colab.research.google.com/github/RafsanJany-44/Machine-School/blob/main/Machine_Learning_ABC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<font color='coral'>How Traditional Programming Works</font>

Lets write a program to find <b>Celsius</b> to <b>Fahrenheit</b>.<br>
<br>
We know the equation is,<br>
<br>
F = Â°C x 1.8 + 32

In [34]:

def celTofar(cel):
  far = 1.8*cel+32
  return far

In [36]:
print("If temperature in Celsius : 25, then the Fahrenheit is: ",celTofar(25))

If temperature in Celsius : 25, then the Fahrenheit is:  77.0

Well, in traditional program we find the

In [25]:
cel_data = [200,90,45,255,130,35,45,29,277,56]
far_data = []


for i in cel_data:
  far_data.append(celTofar(i))

In [26]:
len(far_data)

10

In [27]:
data = {
    "Celsius":cel_data,
    "Fahrenheit":far_data
}


df = pd.DataFrame(data)

In [28]:
df.head(-1)

   Celsius  Fahrenheit
0      200       392.0
1       90       194.0
2       45       113.0
3      255       491.0
4      130       266.0
5       35        95.0
6       45       113.0
7       29        84.2
8      277       530.6

#<font color='coral'>How Machine Learning Works</font>

In [31]:
from sklearn.linear_model import LinearRegression
X = df["Celsius"].values.reshape(-1, 1)
Y = df["Fahrenheit"].values.reshape(-1, 1)
reg = LinearRegression().fit(X, Y)

In [32]:
m = reg.coef_[0]
c = reg.intercept_

In [33]:
print("Slop:",m)
print("Intercept:",c)

Slop: [1.8]
Intercept: [32.]